<article class="caption">
    <img class="caption__media" src="http://placekitten.com/g/400/200"/>
    <div class="caption__overlay">
      <h1 class="caption__overlay__title"><%= link_to shop.name, shop_path(shop) %></h1>
      <p class="caption__overlay__content"><%= rating_for shop, "overall" %></p>
  </div>
</article>