<div class="hover-tile-outer" style="background:url('http://placekitten.com/g/400/200') no-repeat;background-size:cover">
  <div class="hover-tile-container">
    <div class="hover-tile hover-tile-visible"></div>
    <div class="hover-tile hover-tile-hidden">
      <h2><%= link_to shop.name, shop_path(shop) %> <%= rating_for shop, "overall" %></h2>
      <p><%= shop.description %></p>
    </div>
  </div>
</div>
