<div id="fixed_sidebar">
  <%= render partial: "search" %>
  <div id="map-canvas"></div>
</div>

<div id="results">
  <div id="shops_list">
    <%= render partial: 'shop_list' %>
  </div>
</div>

<script>
  $(function(){
    var markers_json = <%= raw @markers.to_json %>;

    var handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map-canvas'}}, function(){
      
      var markers;
      markers = generate_marker_array(markers_json);
      map_and_fit_to_bounds(markers);

      $('#shop_search').on('ajax:success', function(event, data, status, xhr) {
        handler.removeMarkers(markers);
        markers_json = data.markers;
        markers = generate_marker_array(markers_json);
        map_and_fit_to_bounds(markers);
      });

      google.maps.event.addDomListener(handler.getMap(), 'idle', function() {
        map_and_fit_to_bounds(markers);
      });

      google.maps.event.addDomListener(window, 'resize', function() {
        map_and_fit_to_bounds(markers);
      });
    });

    function generate_marker_array(marker_data){
      return handler.addMarkers(marker_data);
    }

    function remove_markers(){
      handler.removeMarkers(marker);
    }

    function map_and_fit_to_bounds(marker_data){
      handler.bounds.extendWith(marker_data);
      handler.fitMapToBounds();
    }

  });
</script>
