<h1>Shops#index</h1>
<% @shops.each do |shop| %>
<h1><%= link_to shop.name, shop_path(shop) %></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta orci et nisl tincidunt varius. Donec elementum lobortis vehicula. Aenean facilisis ante et nulla consequat mattis. Nullam blandit dapibus quam id volutpat. Ut quis placerat erat. Proin ut libero quis dui ultricies egestas in ut augue. Aenean scelerisque pretium adipiscing.</p>
<% end %>


