#form_container {
  @include span-columns(6);
  @include shift(3);
  h1 {
    padding-bottom: 40px;
    padding-top: 40px;  
  }

  .display_none {
    display: none;
  }

  h3 {
    padding-bottom: 40px;
    padding-top: 50px; 
  }

  a {

    padding-bottom: 40px;
    padding-top: 50px; 
  }

  label{
    @include span-columns(2 of 6);
    margin-bottom: 20px;
    margin-top: 20px;    
  }
  input {
    @include span-columns(4 of 6);
    @include omega();
    margin-bottom: 20px;
    margin-top: 20px; 
  } 

   #sign-submit {
    @include span-columns(4 of 6);
    @include shift(2);
    @include omega();
    margin-bottom: 20px;
    margin-top: 20px;
    input {
      width: 100%
    }
    
  } 


}