#show_container {
  @include span-columns(6);
  @include shift(3);
  
  h1 {
    padding-bottom: 20px;
    padding-top: 20px;  
  }
  
  a {
   padding-bottom: 40px;
   padding-top: 50px; 
  }

  img {
    padding: 10px 10px 10px 10px

  }

  label{
    @include span-columns(2 of 6);
    margin-bottom: 20px;
    margin-top: 20px;    
  }
  input {
    @include span-columns(4 of 6);
    @include omega();
    margin-bottom: 20px;
    margin-top: 20px; 
  }
}