header {
  .login {
    .avatar {
      width: 50px;
      border-radius: 100%
    }
    .welcome {
      color: white
    }
  }
}

#map-canvas {
  width: 800px; 
  height: 400px;
  .gm-style-iw {
    width:250px !important;
    height:auto !important;
  }
}
