body {
  main {
    @include outer-container;
    $mobile: new-breakpoint(max-width 500px 4);
    #map {
      @include span-columns(6);
      @include media($mobile) {
        @include span-columns(3);
      }
    }
    #results {
      @include span-columns(6);
      @include media($mobile) {
        @include span-columns(3);
      }
      @include omega();
    }
  }
}

header {
  .login {
    .avatar {
      width: 50px;
      border-radius: 100%
    }
    .welcome {
      color: white
    }
  }
}

h5 {
  color:white;
  font-size:15px; 
}

#map-canvas { 
  height: 500px;
  .gm-style-iw {
    width:250px !important;
    height:auto !important;
  }
}

.type-system-sans {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-right: 15px;
}
.caption__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}
.caption__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    color: white;
    transform: translateY(100%);
    transition: transform .35s ease-out;
}
.type-system-sans:hover .caption__overlay {
    transform: translateY(0);
}
.caption__overlay__title {
    margin: 0;
    padding: 0 0 12px;
    transform: translateY( calc(-100% - 10px) ); /* +10px overlay padding */
    transition: transform .35s ease-out;
}
.type-system-sans:hover .caption__overlay__title {
    transform: translateY(0);
}

.type-system-sans::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}
.type-system-sans:hover::before {
    background: rgba(0, 0, 0, .5);
}
.type-system-sans {
    transform: translateZ(0);
}

